@page  "/Boards/Uploads/ManageBy"

<h3>ManageBy</h3>

<h4>기본</h4>
<UploadApp.Pages.Boards.Uploads.Manage></UploadApp.Pages.Boards.Uploads.Manage>

<h4>3번 부모 관련</h4>
<UploadApp.Pages.Boards.Uploads.Manage ParentId="3"></UploadApp.Pages.Boards.Uploads.Manage>
